<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <add name="PharmacyDB" 
             connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PharmacyDB;Integrated Security=True" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="DefaultLanguage" value="ar" />
        <add key="CompanyName" value="صيدلية الشفاء" />
        <add key="CompanyAddress" value="الجزائر العاصمة" />
        <add key="CompanyPhone" value="0123456789" />
        <add key="CompanyEmail" value="info@pharmacy.dz" />
        <add key="LogoPath" value="logo.png" />
        <add key="BackupPath" value="Backup\" />
    </appSettings>
</configuration>
